<!DOCTYPE html>
<html>
<head>
	<title>CRUD</title>
	<style>
		table {
			border-collapse: collapse;
			width: 100%;
			font-family: Arial, sans-serif;
			font-size: 14px;
			color: #333;
			background-color: #fff;
			margin: 20px 0;
		}

		table th, table td {
			padding: 10px;
			text-align: center;
			border: 1px solid #ddd;
		}

		table th {
			background-color: #f2f2f2;
			font-weight: bold;
			color: #555;
		}

		table tr:nth-child(even) {
			background-color: #f9f9f9;
		}

		table tr:hover {
			background-color: #ddd;
		}
	</style>
</head>
<body>
    <h2>Enter the Student Details</h2>
<form action="" method="POST">
    {% csrf_token %}
    {{fm.as_p}}
    <button type="submit">Submit</button>
</form>
<br>
<br>
    <table>
        <th>
            <td>ID</td>
            <td>Student Name</td>
            <td>Email</td>
            <td>Roll Numder</td>
            <td>Section</td>
            <td>Action</td>
        </th>

        {% for i in data %}
        <tr><td></td>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.roll_number}}</td>
            <td>{{i.section}}</td>
            <td><a href="{% url 'edit' i.id %}"><button>Update</button></a>
                <a href="{% url 'delete' i.id %}"><button>Delete</button></a></td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>
